.feed {
  flex: 0.5;
  margin: 0 20px;
}

.inputContainer {
  background-color: #fff;
  padding: 16px 10px 8px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #e0dfdb;
}

.input {
  border: 1px solid #b2b2b2;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
  width: 85%;
}

.input > form {
  display: flex;
  width: 100%;
}

.input > form > input {
  border: none;
  flex: 1;
  outline-width: 0;
  font-weight: 600;
  height: 28px;
}

.input > form > button {
  display: none;
}

.inputOptions {
  display: flex;
  justify-content: space-evenly;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 48px !important;
  height: 48px !important;
  margin-right: 6px;
}

@media (max-width: 1160px) {
  .feed {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .feed {
    width: 85%;
  }
}
