.post {
  background-color: #fff;
  padding: 15px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #e0dfdb;
}

.header {
  display: flex;
  margin-bottom: 10px;
}

.info {
  margin-left: 10px;
}

.info > p {
  font-size: 12px;
  color: gray;
}

.body {
  overflow-wrap: anywhere;
}

.info > h2 {
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

hr {
  opacity: 0.2;
  margin-top: 16px;
}