.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px 0;
  width: 100%;
  z-index: 100;
}

.headerLeft {
  display: flex;
}

.headerSearch {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}

.headerSearch > input {
  outline: none;
  border: none;
  background: none;
}

.logo {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
  padding: 0;
}

.headerRight {
  display: flex;
}

@media (max-width: 760px) {
  .headerRight {
    margin-left: 12px;
  }
}