.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: #666666;
  cursor: pointer;
  transition: color 200ms ease;
}

.headerOption:hover {
  color: black;
}

.title,
.activeTitle {
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
}

.activeTitle {
  color: black;
}

.icon,
.active {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.active {
  color: black;
}

@media (max-width: 760px) {
  .headerOption > h3 {
    display: none;
  }

  .icon,
  .active {
    height: 75% !important;
    width: 100% !important;
  }

  .headerOption {
    margin-right: 0;
    width: 10%;
    height: fit-content;
    width: 9%;
  }
}

@media (max-width: 360px) {
  .headerOption {
    width: 13%;
  }
}