.sidebar {
  position: sticky;
  top: 75px;
  flex: 0.21;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.avatar {
  margin-bottom: 10px;
  width: 65px !important;
  height: 65px !important;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0dfdb;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  padding-bottom: 16px;
}

.sidebarTop > img {
  margin-bottom: -20px;
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebarTop > h4 {
  color: gray;
  font-size: 12px;
  padding: 0 8px;
}

.sidebarTop > h2 {
  font-size: 18px;
  padding: 0 8px;
}

.stats {
  padding: 16px 14px;
  /* margin-bottom: 10px; */
  border: 1px solid #e0dfdb;
  /* border-bot: 1px solid #e0dfdb; */
  background-color: #fff;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.stat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.stat:nth-child(1) {
  margin-top: 0;
}

.stat > p {
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  font-weight: 600;
}

.statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.connections {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.connections > p {
  color: black !important;
  font-weight: bold !important;
  font-size: 12px;
}

.premium {
  padding: 16px 14px;
  padding-right: 2px;
  border: 1px solid #e0dfdb;
  border-top: none;
  background-color: #fff;
}

.premium:hover {
  background-color: #ebebeb;
}

.premium:hover > .activatePremium {
  color: #0a66c2 !important;
}

.premium > p {
  color: rgba(0,0,0,0.6);
  font-weight: 500;
  font-size: 12px;
  text-align: left;
}

.activatePremium {
  font-weight: 600 !important;
  color: black !important;
  /* margin-top: 2px; */
  margin-left: 0px;
}

.squareIcon {
  color: #e7a33e;
  margin-right: 8px;
  font-size: 14px;
}

.myItems {
  padding: 16px 14px;
  padding-right: 2px;
  border: 1px solid #e0dfdb;
  border-top: none;
  background-color: #fff;

  margin-bottom: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.myItems:hover {
  background-color: #ebebeb;
}

.myItems > p {
  text-align: left;
  color: black;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
}

.bookmarkIcon {
  color: #666666;
  margin-right: 8px;
  font-size: 14px;
}


.sidebarBottom {
  text-align: left;
  border: 1px solid #e0dfdb;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
  border: 1px solid #e0dfdb;
}

.bottomContainer > p {
  font-size: 12px;
  padding-bottom: 10px;
}

.bottomContainer {
  padding: 10px;
}

.recentItem {
  display: flex;
  font-size: 12px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.hashtags {
  margin-right: 10px;
  margin-left: 5px;
}

.discoverMore {
  margin-top: 8px;
  border-top: 1px solid #e0dfdb;
  padding: 12px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(0,0,0,0.6);;
  font-size: 14px;
}

.discoverMore:hover {
  background-color: #ebebeb;
}


@media(max-width: 1160px) {
  .sidebar {
    position: relative;
    top: auto;
    margin-bottom: 28px;
    width: 87%;
  }
}