input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  min-height: calc(100vh - 50px);
  background-color: #f3f2ef;
}

.login > img {
  object-fit: contain;
  width: 140px;
  height: 36px;
  margin: 24px 0;
}

.login > h2 {
  font-size: 31px;
  font-weight: 500;
  margin-bottom: 26px;
  text-align: center;
  /* line-height: 1; */
}

.login > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 24px 32px 18px 32px;
  border-radius: 8px;
  width: 336px
}

.control {
  width: 100%;
  margin-bottom: 10px;
}

.control > input {
  width: calc(100% - 10px);
  height: 32px;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.6);
  transition: border 100ms ease;
  outline: none;
  color: black;
  margin-top: 4px;
}

.control > input:hover {
  border: 1px solid black;
}

.control > input:focus {
  border: 2px solid rgba(0,0,0,0.6);
}

.invalid > input {
  border-color: #d11024;
}

.invalid > input:focus {
  border: 2px solid #d11024;
}

.errorText {
  color: #d11024;
  width: 100%;
  justify-self: flex-start;
  font-size: 14px;
  font-weight: 500;
}

.login > form > button {
  width: 345px;
  height: 48px;
  font-size: large;
  color: #fff;
  background-color: #0a66c2;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 150ms ease;
  margin-top: 16px;
}

.login > form > button:hover {
  background-color: #004182;
}

.register {
  color: #0177b7;
  cursor: pointer;
}

.login > p {
  margin-top: 20px;
  background-color: #f3f2ef;
  text-align: center;
  font-size: 14px;
}

.login > form > p {
  width: 350px;
  text-align: center;
  font-size: 12px;
  margin: 12px 0 6px 0;
  color: #666666;
  font-weight: 400;
}

.control > label {
  width: calc(100% + 10px);
  color: #666666;
  font-size: 14px;
  font-weight: 450;
}

.loginToggle {
  font-size: 17px !important;
  font-weight: 400;
  color: black !important;
  margin: 24px 0 0 0 !important;
}

.blue {
  color: #0a66c2;
  font-weight: 700;
  cursor: pointer;
  transition: color 200ms ease;
}

.blue:hover {
  color: #004182;
}

@media(max-width: 550px) {
  .login > form {
    width: 60%;
  }

  .login > form > button {
    width: 80%;
  }

  .login > form > p {
    width: 100%;
  }

  .login > p {
    padding-bottom: 16px;
  }
}